/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --navigation: #f1efee;
  --button: #ffac30;
  --button-hover: #e7692e;
  --brown: #a65519;
  --overlay: rgb(213, 213, 213);
  --light-gray: rgb(236, 236, 236);
}

@font-face {
  font-family: "Lato_bold";
  src: url(/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "Ledger";
  src: url(/fonts/Ledger-Regular.ttf);
}

@font-face {
  font-family: "Lato_italic";
  src: url(/fonts/Lato-Italic.ttf);
}

body {
  font-family: "Lato";
}

p,
label,
input,
button,
textarea,
li {
  font-size: 1.4rem;
}

a,
h3 {
  text-decoration: none;
  color: black;
  font-family: "Ledger";
  font-size: 1.6rem;
}

h2 {
  font-size: 1.8rem;
}

h1 {
  font-size: 2rem;
}

.icon {
  width: 2rem;
}

.hero_img {
  display: block;
  width: 100%;
  font-size: 0;
}

.brown {
  color: var(--brown);
}

.bold,
label {
  font-family: "Lato_bold";
}

input,
textarea {
  font-family: "Lato";
}

.italic {
  font-family: "Lato_italic";
  color: var(--button-hover);
}

button,
.button {
  width: 100%;
  padding: 1rem 2rem;
  border-style: none;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--button);
  font-family: "Lato_bold";
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.error {
  display: none;
  color: red;
  font-size: 1.2rem;
  font-family: "Lato";
}

.red {
  color: red;
  font-family: "Lato";
  margin-bottom: 1rem;
}

.loading_error {
  display: block;
  padding: 3rem 5rem;
}

.green {
  color: green;
}

.pointer:hover,
.open_menu:hover,
.close_menu:hover,
.progress_bar .dot,
button:hover {
  cursor: pointer;
}

hr {
  border: 1.5px solid whitesmoke;
}

/* HEADER */

header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  width: 100%;
  z-index: 3;
}

.logo {
  margin-top: 0.5rem;
  width: 60%;
}

header nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: right;
  top: 90%;
  right: 0;
  z-index: 2;
}

header nav a {
  margin: 0.5rem 0;
  padding: 0.5rem 3rem 0.5rem 5rem;
  text-shadow: 4px 1px 2px rgba(255, 255, 255, 0.8);
}

.hero {
  position: relative;
}

.hero_title {
  position: absolute;
  font-family: "Ledger";
  right: 1rem;
  top: 90%;
  transform: translate(-25%, -50%);
}

/* INDEX */

/*subscribe section*/

.subscribe {
  font-family: "Lato_bold";
  padding: 2rem;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: var(--navigation);
}

.subscribe_button {
  border-radius: 0.5rem;
  padding: 0.7rem 0;
}

.sub_input {
  width: 70%;
}

.sub_input input {
  padding: 0.25rem;
  border-style: none;
  border-radius: 0.5rem;
}

.sub_input label {
  display: inline-block;
  width: 20%;
}

.sub_name {
  margin-bottom: 1rem;
}

.sub_info {
  margin-top: -0.6rem;
}

.sub_info p {
  margin-bottom: 1.5rem;
  text-align: center;
}

.sub_info {
  width: auto;
}

/**/

.subscribed {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
}

.subscribed p:first-child {
  margin-bottom: 1rem;
}

/*slider section*/
.index_posts {
  padding: 4rem;
  background-color: whitesmoke;
}

.index_posts h2 {
  margin-bottom: 7rem;
}
.post_container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.slide {
  width: 80%;
  height: 35rem;
  font-family: "Lato";
  border-radius: 2rem;
  line-height: 2rem;
  background-color: white;
}

.slide:hover {
  text-decoration: none;
}

.slide_img {
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  object-fit: cover;
}

.slide p {
  padding: 1.5rem 2rem 0 2rem;
}

.slide p:last-of-type {
  padding-bottom: 3rem;
}

.slide_2,
.slide_3 {
  display: none;
}

.progress_bar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.dot {
  background-color: lightgrey;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.dot-2 {
  margin: 0 3rem 0 3rem;
}

.selected {
  background-color: gray;
}

.post-2,
.post-3 {
  display: none;
}

.index_post_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.index_post_text {
  padding: 2rem 3rem;
  line-height: 2rem;
}

.index_post_text > p {
  margin-bottom: 0.5rem;
}

/* LOADER */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  padding: 3rem;
  background-color: var(--navigation);
}

footer a {
  text-shadow: 4px 1px 2px rgba(255, 255, 255, 0.8);
}

footer a:hover,
header nav a:hover,
.return:hover {
  text-decoration: line-through;
}

footer div {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
footer p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 3rem;
}

/* PROMOS */

.promo_info {
  padding: 5rem;
  line-height: 2rem;
  background-color: whitesmoke;
}

.promo_info > * {
  display: block;
  margin: 0 auto;
  max-width: 25rem;
}
.promo_info h2 {
  font-family: "Ledger";
  margin-bottom: 2rem;
}

.promo_info h3,
.promo_section h3 {
  font-family: "Lato_bold";
  margin-bottom: 2rem;
}

.coupon {
  padding: 5rem 3rem;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.coupon:nth-child(odd) {
  border-bottom: 0.2rem solid whitesmoke;
}

.coupon div {
  width: 60%;
}

.promo_logo {
  width: 10rem;
  align-self: center;
  margin-right: 2rem;
}

/* about */
.about_introduction,
.about_info {
  max-width: 25rem;
  padding: 5rem 0;
  display: block;
  margin: 0 auto;
  line-height: 2rem;
}

.about_introduction h3:nth-child(2),
.about_info p.bold {
  margin-bottom: 2rem;
}

/* contact */
.contact_intro {
  padding: 5rem;
  line-height: 2.5rem;
  background-color: whitesmoke;
}

.contact_intro > * {
  max-width: 25rem;
  display: block;
  margin: 0 auto;
}

.contact_intro h2 {
  font-family: "Ledger";
  margin-bottom: 2rem;
}

.contact_form h2 {
  font-family: "Ledger";
  margin-bottom: 5rem;
}

.contact_form {
  display: block;
  margin: 5rem auto;
  max-width: 25rem;
}

.contact_form div {
  display: flex;
  flex-direction: column;
}

.contact_form label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.contact_form input,
.contact_form textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: whitesmoke;
  margin: 0.5rem 0 1rem 0;
}

.contact_form button {
  padding: 1rem;
}

.contact_form textarea {
  resize: none;
  height: 100px;
  margin-bottom: 3rem;
}

.message_sent {
  padding: 2rem 0;
}

.message_sent h2 {
  margin-bottom: 2rem;
}

/* REVIEWS */
.reviews {
  background-color: whitesmoke;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.reviews .post_card {
  width: 80%;
  line-height: 3rem;
  background-color: white;
  border-radius: 2rem;
  height: fit-content;
  padding-bottom: 3.5rem;
  position: relative;
  margin: 0 2rem 5rem 0;
}

.reviews .post_card center {
  padding: 0 2rem;
}

.reviews .post_card button {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
}

.reviews .post_card img {
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.post_card .review_info {
  margin: 2rem 0;
  line-height: 2rem;
}

.index_post {
  width: 70%;
  background-color: white;
  border-radius: 2rem;
  height: fit-content;
  position: relative;
  margin: 0 0.5rem 5rem 0.5rem;
}

.index_post .title {
  margin-top: 2rem;
  height: 4rem;
}

.index_post p {
  display: block;
  margin: 0 auto 2rem auto;
  max-width: 25rem;
  padding: 0 2rem;
}

.index_post p.review_info {
  margin-bottom: 3rem;
}

.index_post .italic {
  margin-top: 1rem;
}

.index_post img {
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.post_title {
  max-width: 25rem;
  height: 7rem;
}

/* GUIDE/REVIEW POSTS */
.post_info {
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%, 50%);
  width: 80%;
  z-index: 1;
  text-align: center;
  line-height: 3rem;
}

.post_info h1 {
  color: black;
}

.post_info h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Ledger";
}

.post_info p {
  letter-spacing: 0.2rem;
  color: black;
}

.hero_post {
  background-color: var(--overlay);
  width: auto;
}

.img_post {
  opacity: 40%;
}

.description p {
  margin-bottom: 2rem;
}

.rg_tips,
.rg_content {
  padding: 5rem 5rem 5rem 5rem;
  line-height: 2rem;
}

.rg_tips > *,
.rg_content > * {
  max-width: 25rem;
  display: block;
  margin: auto auto;
}

.rg-post_container h2 {
  margin-bottom: 2rem;
  font-family: "Lato_bold";
}

li {
  list-style: inside;
  margin-bottom: 1rem;
}

ol {
  list-style: inside;
}

ol li {
  list-style: decimal;
}

li::before {
  content: "";
  width: 0.5rem;
  display: inline-block;
}

ol > li::marker {
  font-family: "Lato_bold";
}

.return {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.return > * {
  max-width: 25rem;
}

.return img {
  margin-right: 1rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 450px) {
  .slide {
    width: 40%;
  }
  .slide_2 {
    display: block;
  }
}

@media screen and (min-width: 500px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
  .coupon div {
    text-align: right;
  }
  .icon {
    width: 4.5rem;
  }
  .logo {
    width: 40%;
  }
  .sub_input input {
    width: 70%;
  }
  .subscribe {
    padding: 2rem 20%;
  }
  .slide {
    width: 30%;
  }
  .slide_3 {
    display: block;
  }
  .index_post {
    width: 50%;
    margin-bottom: 2rem;
  }
  .post-2 {
    display: block;
  }
  .reviews .post_card {
    width: 50%;
  }
  .progress_bar {
    margin-top: 5rem;
  }
  header nav {
    right: 2rem;
  }
  header nav a {
    margin: 1.5rem 0;
  }
}

/*Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .error,
  .smaller,
  button {
    font-size: 1.4rem;
  }
  p,
  label,
  input,
  textarea,
  li {
    font-size: 1.6rem;
  }
  a,
  h3 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2rem;
  }
  h1,
  .post_info h1 {
    font-size: 2.5rem;
  }
  .promo_logo {
    width: 15rem;
  }
  .hero_img,
  .hero {
    height: 400px;
    object-fit: cover;
  }
  .sub_input input {
    width: 70%;
  }
  .sub_input {
    margin-right: 1rem;
  }
  .sub_info {
    width: 40%;
    margin-top: -0.5rem;
  }
  .sub_input label {
    margin-right: 1rem;
  }

  .subscribe {
    padding: 2rem;
    position: absolute;
    left: 0;
    top: 280px;
    width: 50%;
    border-top-right-radius: 2rem;
    height: 12rem;
  }
  .contact_intro > *,
  .contact_form,
  .about_introduction,
  .about_info,
  .promo_info > *,
  .rg_tips > *,
  .rg_content > * {
    max-width: 40rem;
  }

  .index_post {
    width: 40%;
  }
  .post-3 {
    display: block;
  }
  .reviews .post_card {
    width: 40%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  .index_post {
    width: 30%;
    margin-bottom: 2rem;
  }
  .reviews {
    padding: 5rem 3rem;
  }
  .reviews .post_card {
    width: 30%;
    margin-bottom: 3rem;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
  .error,
  .smaller,
  button {
    font-size: 1.6rem;
  }
  p,
  label,
  input,
  textarea,
  li {
    font-size: 1.8rem;
  }
  a,
  h3 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h1,
  .post_info h1 {
    font-size: 3.5rem;
  }
}
